@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.container {
  max-width: 750px;
  padding: 10px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0
}

header div * {
  font-size: 2rem;
  color: black;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li * {
  text-decoration: none;
  color: black;
}

header ul li:not(:last-child) {
  margin-right: 1.5rem;
}

.registre-page {
  padding-top: 80px;
}

.register-form-container {
  max-width: 350px;
  margin: 0 auto;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  border-radius: 10px;
  padding: 20px;
}

.register-form-container h1 {
  margin-bottom: 10px;
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-form input:not(:last-child) {
  padding: 10px;
  margin: 4px 0;
  border: 1px solid black;
  border-radius: 5px;
}

.register-form input:not(:last-child):focus {
  outline: none;
}

.register-form input:last-child {
  padding: 10px;
  margin-top: 4px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-weight: bold;
}
